---
import Layout from "../../layouts/Layout.astro";
import {
    oneActeurID,
    getAllInvite,
    oneActiviteID,
} from "../../../backend/backend.mjs";

const { id } = Astro.params;
const invite = await oneActeurID(id);
const imageUrls = invite.imageUrls || [];

if (!invite) {
    console.error(`Invite with id ${id} not found`);
    return Astro.redirect("/programmation");
}

let activite = null;
if (invite.relation) {
    activite = await oneActiviteID(invite.relation);
}

import { formatDate } from "../../../backend/helpers.js";
---

<Layout>
    <div>
        <article>
            <h2 class="text-2xl text-center m-10">
                <a href={`/invite/${invite.id}`}>
                    {invite.nom_invite}
                </a>
            </h2>

            <div>
                <img
                    class="w-[250px] h-auto rounded-lg object-cover text-center"
                    src={invite.imgUrl}
                    alt={`Photo de ${invite.nom_invite}`}
                />
            </div>

            <div>
                <ul class="mx-8 my-6">
                    <li><div set:html={invite.bio_invite} /></li>
                    <li class="mt-10 text-base">Rôle : {invite.role}</li>
                </ul>
            </div>
        </article>

        {
            activite ? (
                <div class="mt-10 p-6 bg-white rounded-lg shadow-md">
                    <h2 class="text-2xl font-semibold text-center">
                        Activité associée
                    </h2>
                    <p class="text-xl font-semibold mb-5">
                        <a
                            href={`/activite/${activite.id}`}
                            class="hover:underline"
                        >
                            {activite.titre_activite}
                        </a>
                    </p>
                    <p class="text-lg mb-7 lg:text-xl">
                        Date & Heure : {formatDate(activite.dateheure_activite)}
                    </p>
                    <div set:html={activite.description_activite} />
                    <p class="mt-4 text-red-700">
                        Catégorie : {activite.categorie}
                    </p>
                </div>
            ) : (
                <p class="text-gray-500 text-center mt-6">
                    Aucune activité associée.
                </p>
            )
        }
    </div>
</Layout>
