---
import PocketBase from "pocketbase";
import { getAllInvite } from "../../../backend/backend.mjs";

const pb = new PocketBase("https://pocketbasesae203.juline-adam.fr/");

const invites = await getAllInvite();
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <main class="p-6">
        <h1>Nos Invités</h1>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            {
                invites.map((invite) => {
                    const imageUrls = [];

                    if (invite.photo_invite) {
                        if (typeof invite.photo_invite === "string") {
                            imageUrls.push(
                                pb.files.getUrl(invite, invite.photo_invite),
                            );
                        } else {
                            invite.photo_invite.forEach((img) => {
                                imageUrls.push(pb.files.getUrl(invite, img));
                            });
                        }
                    }

                    return (
                        <a
                            href={`/invite/${invite.id}`}
                            class="block rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 max-w-00 mx-auto text-center"
                        >
                            <div class="w-full flex flex-col items-center justify-start">
                                {imageUrls.length > 0 ? (
                                    <img
                                        class="w-[350px] object-cover mt-3"
                                        src={imageUrls[0]}
                                        alt={`Photo de ${invite.nom_invite}`}
                                    />
                                ) : (
                                    <div class="w-[300px] h-[450px] flex items-center justify-center bg-gray-300">
                                        <span class="text-gray-600">
                                            Aucune photo
                                        </span>
                                    </div>
                                )}

                                <div class="p-4 w-full text-center flex-grow">
                                    <h2 class="text-lg font-semibold mb-2">
                                        {invite.nom_invite}
                                    </h2>
                                    <p class="text-sm text-gray-600">
                                        <strong>Rôle :</strong> {invite.role}
                                    </p>
                                </div>
                            </div>
                        </a>
                    );
                })
            }
        </div>
    </main>
</Layout>
