---
import { getImgCard } from "../../backend/backend.mjs";
const { films } = Astro.props;
---

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 p-4">
    {
        films.map((film: any) => (
            <article class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200">
                <h2 class="text-xl font-bold p-5 px-8">
                    <a href={`/programmation/${film.id}`}>{film.titre_film}</a>
                </h2>
                <img
                    class="w-90 mx-auto rounded-lg lg:p-4"
                    src={film.imageCard}
                    alt={`Affiche de ${film.titre_film}`}
                />

                <div class="p-5 px-10">
                    <ul class="mt-2 text-sm text-gray-600">
                        <li>
                            <strong>Début :</strong>{" "}
                            {film.dateheureprojection_film}
                        </li>
                        <li>
                            <strong>Durée :</strong> {film.duree_film} min
                        </li>
                        <li>
                            <strong>Public :</strong>{" "}
                            {film.Tous_publics
                                ? "Tout public"
                                : "Interdit -12 ans"}
                        </li>
                    </ul>
                </div>

                <div class="p-4 text-center">
                    <a
                        href={`/programmation/${film.id}`}
                        class="bg-red-800 text-white px-4 py-2 rounded-lg font-semibold hover:bg-red-900 transition "
                    >
                        En savoir plus
                    </a>
                </div>
            </article>
        ))
    }
</div>
