---
const { films } = Astro.props;
---

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 p-4">
    {
        films.map((film: any) => (
            <article class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200">
                <h3 class="p-5 px-8 text-xl mx-auto">
                    <a href={`/programmation/${film.id}`}>{film.titre_film}</a>
                </h3>
                <img
                    class="w-90 mx-auto rounded-lg lg:p-4"
                    src={film.imageCard}
                    alt={`Affiche de ${film.titre_film}`}
                />

                <div class="p-5 px-10">
                    <ul class="mt-5 mx-20">
                        <li class="my-3">
                            Début : {film.dateheureprojection_film}
                        </li>
                        <li class="my-3">Durée : {film.duree_film} min</li>
                        <li class="my-3">
                            Public :
                            {film.Tous_publics
                                ? "Tout public"
                                : "Interdit -12 ans"}
                        </li>
                    </ul>
                </div>

                <div class="p-4 text-center mb-8">
                    <a
                        href={`/programmation/${film.id}`}
                        class="bg-red-800 text-white px-4 py-2 rounded-lg hover:bg-red-900 transition "
                    >
                        EN SAVOIR PLUS
                    </a>
                </div>
            </article>
        ))
    }
</div>
